body {
	font: normal 22px Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
	text-align: center;
	color: #fff;
	background-color: #222;
    margin:0 auto;
    font-size:1em;
}
div.stuff{
    padding-top:100px;
}
.stuff .text{
    padding-top:15px;
}
.other-stuff{
    width: 640px;
    margin: auto;
}
.volume-button{
    width:60px;
    border:2px solid #696969;
    height:30px;
    line-height: 0;
    margin:0px;
    padding:0px;
    font-size:0;
    cursor:pointer;
    float:left;
    /*
    position:absolute;
    top:0px;
    left:0px;*/
}
.volume-button div{
    display:inline-block;
    width:9.09%;
    height:100%;
    background-color:#FFF;
}

.volume-button div:nth-child(1){height:0%;}
.volume-button div:nth-child(2){height:10%;}
.volume-button div:nth-child(3){height:20%;}
.volume-button div:nth-child(4){height:30%;}
.volume-button div:nth-child(5){height:40%;}
.volume-button div:nth-child(6){height:50%;}
.volume-button div:nth-child(7){height:60%;}
.volume-button div:nth-child(8){height:70%;}
.volume-button div:nth-child(9){height:80%;}
.volume-button div:nth-child(10){height:90%;}